<div class="row text-center no-gutters mb-1">
  <div class="col-sm-12">

  <%= form_with model: post, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="form-group mt-5">
      <%= f.label :weight %><span</span><br>
      <%= f.number_field :weight ,:size=>"25",class: "form_user",placeholder: "体重を入力してください"  %>
    </div>

    <div class="form-group mt-5">
      <%= f.label :bmi %><span></span><br>
      <%= f.number_field :bmi ,:size=>"25",class: "form_user",placeholder: "BMIを入力してください" %>
    </div>

    <div class="form-group mt-5">
      <%= f.label :sleep_time %><span></span><br>
      <%= f.number_field :sleep_time ,:size=>"25",step: "0.1",placeholder: "睡眠時間を入力してください" %>
    </div>

    <div class="form-group mt-5">
      <%= f.label :motion_name %><span></span><br>
      <%= f.text_field :motion_name ,:size=>"25",class: "form_user",placeholder: "今日やった運動を入力してください" %>
    </div>

    <div class="form-group mt-5">
      <%= f.label :motion_time %><span class="user-file"></span><br>
      <%= f.number_field :motion_time,:size=>"30",step: "0.1",placeholder: "運動時間を入力してください" %>
    </div>

    <div class="form-group mt-5">
      <%= f.label :detail %><span></span><br>
      <%= f.text_field :detail ,class: "form_user",placeholder: "詳細を入力してください" %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
