<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center"><%= @post.user.name %>のグラフ</h1>
    <div class="mt-5">
      <p id="notice"><%= notice %></p>
    </div>
    <div class="mt-5">
      <p id="notice"><%= notice %></p>
    </div>
    <div class="mt-5">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
</div>

<%= column_chart @graph_weight,
    width: "1400px",
    height: "500px",
    xtitle: "投稿日",
    ytitle: "体重(kg)",
    colors: ["#b00", "#666"] %>

<%= column_chart @graph_sleep,
    width: "1400px",
    height: "500px",
    xtitle: "投稿日",
    ytitle: "睡眠時間（時間）",
    colors: ["#00F", "#666"] %>

<%= column_chart @graph_motion,
    width: "1400px",
    height: "500px",
    xtitle: "投稿日",
    ytitle: "運動時間（時間）",
    colors: ["#FF0", "#666"] %>