<div class="row form_show">
  <div class="col-sm-3 bg-success">
    <p class="text-center">
      <%= link_to "グラフはこちら","/posts/#{@post.id}/graph",class: "text-white" %>
    </p>
  </div>
  <div class="col-sm-9 bg-warning">
    <table class="table table-hover table_topic">
      <tbody>
        <tr>
          <th>ユーザー名</th>
          <td class="text-center"><%= link_to @post.user.name,@post.user %></td>
        </tr>
        <tr>
          <th>体重</th>
          <td class="text-center"><%= @post.weight %></td>
        </tr>
        <tr>
          <th>BMI</th>
          <td class="text-center"><%= @bmi %></td>
        </tr>
        <tr>
          <th>運動</th>
          <td class="text-center"><%= @post.motion_name %></td>
        </tr>
        <tr>
          <th>運動時間</th>
          <td class="text-center"><%= @motion_time %></td>
        </tr>
        <tr>
          <th>睡眠時間</th>
          <td class="text-center"><%= @sleep_time %></td>
        </tr>
        <tr>
          <th>内容</th>
          <td class="text-center"><%= @post.detail %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

